.main-header {
    background-color: var(--br-color);
    display: flex;
    justify-content: space-between;
}


.container {
    display: flex;
    align-items: center;
}


.burger-menu {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    background-image: url(../img/bars-solid.svg);
    display: inline-block;
    background-repeat: no-repeat;
}


.container-img {
    width: 1.5rem;
    padding: 1rem;
}


