.main-header {
    background-color: var(--bg-color-prima);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.container {
    display: flex;
    align-items: center;
}


.burger-menu {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    background-image: url(../img/icons/bars-solid.svg);
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
}


.container-img {
    width: 1.5rem;
    padding: 1rem;
}


.list-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container-button:checked ~ .list-menu {
    display: block;   
}

.container-button{
    display: none;
}

.list-menu-title, 
.list-menu-item {
    padding: 1em;
    background-color: var(--bg-color-prima);
}

.list-menu-title {
    color: var(--text-color-prima);
    font-weight: 500;
}

.list-menu-link {
    color: var(--text-color-second);
    text-transform: uppercase;
    text-decoration: none;
}