*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


html{
    height: 500vh;
    background-color: #000;
}


.conteiner{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.header{
    width: 100%;
    padding: 60px 4%;
    position:fixed;
    background-color: yellow;
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    margin: auto;
    color: rgb(83, 10, 83);
  }


.header ul {
    list-style-type: none;
}


.header ul li {
    display: inline-block;
    margin: 0 48px;
}


.header ul li a {
    color: rgb(83, 10, 83);
    text-decoration: none;
}


.btn-contact button {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}


.banner {
    height: 20vh;
    background-position: 100% 0;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 4em;
    position: absolute;
  }
  

.banner h1 span{
    color: blue;
}